{{!--responsive--}}
<div class='row'>
    <div class='col-lg-12'>
        <section class='panel'>
            <header class='panel-heading'>

                <span class='tools pull-right'>
                    <a href='javascript:;' class='fa fa-chevron-down'></a>
                </span>

                <h1 class='title_add_vendor'>
                    Test API
                </h1>

            </header>

            <div class='panel-body'>
                <div class='form'>
                    <form  id='test-api'>
                        <div class='col-sm-12 col-md-12'>
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-name' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Nombre
                                        </label>
                                    </label>
                                    <div>
                                        {{!--
                                        <input class='form-control test-api-element test-api-input' id='test-api-name' name='name' type='text'>
                                        --}}
                                        <input class='form-control test-api-element test-api-input' id='test-api-name' name='nombre' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-lastname' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Apellido
                                        </label>
                                    </label>
                                    <div>
                                        {{!--
                                        <input class='form-control test-api-element test-api-input' id='test-api-lastname' name='lastname' type='text'>
                                        --}}
                                        <input class='form-control test-api-element test-api-input' id='test-api-lastname' name='apellido' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-email' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Correo Elctrónico
                                        </label>
                                    </label>
                                    <div>
                                        {{!--
                                        <input class='form-control test-api-element test-api-input' id='test-api-email' name='email' type='text'>
                                        --}}
                                        <input class='form-control test-api-element test-api-input' id='test-api-email' name='correo' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-phone' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Teléfono
                                        </label>
                                    </label>
                                    <div>
                                        {{!--
                                        <input class='form-control test-api-element test-api-input' id='test-api-phone' name='phone' type='text'>
                                        --}}
                                        <input class='form-control test-api-element test-api-input' id='test-api-phone' name='telefono' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-product' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Producto
                                        </label>
                                    </label>
                                    <div>
                                        {{!--
                                        <input class='form-control test-api-element test-api-input' id='test-api-product' name='product' type='text'>
                                        --}}
                                        <input class='form-control test-api-element test-api-input' id='test-api-product' name='producto' type='text'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-comment' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Comentarios
                                        </label>
                                    </label>
                                    <div>
                                        {{!--
                                        <input class='form-control test-api-element test-api-input' id='test-api-comment' name='comment' type='text'>
                                        --}}
                                        <input class='form-control test-api-element test-api-input' id='test-api-comment' name='comentarios' type='text'>
                                    </div>
                                </div>
                            </div>
                            {{!--
                            <div class="col-sm-4 col-md-6">
                                <div class="form-group">
                                    <label for='test-api-news' class='control-label'>
                                        <sup>
                                            <i class='fa fa-asterisk' style='position: relative; top: 4px; padding: 5px;'></i>
                                        </sup>
                                        <label>
                                            Notas
                                        </label>
                                    </label>
                                    <div>
                                        <input class='form-control test-api-element test-api-check' id='test-api-news' name='news' type='checkbox'>
                                    </div>
                                </div>
                            </div>
                            --}}
                        </div>
                        <div class="clearfix"></div>
                        {{!--
                        <input id='test-api-web-max' name='web_max' type='hidden' value='medigraf.com.mx'>
                        <input id='test-api-business-max' name='business_max' type='hidden' value='0'>
                        <input id='test-api-origen-type' name='origen_type' type='hidden' value='2'>
                        <input id='test-api-exit-web' name='exit_web' type='hidden' value='http://google.com'>
                        --}}
                    </form>
                    <div class='form-submit col-sm-12 col-md-12'>
                        <div class='col-sm-1 col-md-2'></div>
                        <button class='btn btn-success button-resp col-sm-4 col-md-4' id='test-api-save'>
                            Guardar
                        </button>
                        <div class='col-sm-1 col-md-1'></div>
                        <button class='btn btn-default button-resp col-sm-4 col-md-4' id='test-api-clean'>
                            Limpiar
                        </button>
                        <div class='col-sm-1 col-md-1'></div>
                        <div class='clearfix'></div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
